* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #9aa7af;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
.big-icon{
	font-size: 5em;
	padding: 1rem 0;
}
a, a:hover {
	text-decoration: none;
	color: #9aa7af;
	font-weight: 300;
}
a:hover {
	color: #56bc94;
}

section {
	padding:2em;
}

nav ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	max-width: 100%;
}
nav li {
	line-height: 1.2rem;
	font-size: 1.2rem;
	flex:1;
	text-align: center;
	padding: 1em 0;
}
nav li:hover {
	background-color: #e7e8ea;
}
nav a:hover, nav a:active, nav a:visited {
	color: #56bc94;
}

header {
	background-image: url("../img/header.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:4em 0;
}
header h1 {
	color: white;
	font-size: 4em;
}
header h3 {
	color: white;
	font-size: 2em;
}


.container {
	padding: 0 1.5rem;
	max-width: 1100px;
	margin: 0 auto;
}

#features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*flex-wrap: wrap;*/
}
#features div {
	flex:1;
	/*padding: 2em;*/
	text-align: center;
	margin-bottom: 2em;
}
#features h4 {
	padding:1em 0;
	color: #56bc94;
}

#gallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#gallery>div {
	width: 300px;
	padding: 1.6em;
}
#gallery div img {
	max-width: 100%;
	height: auto;
}
#gallery h6{
	text-align: center;
}
footer {
	background-color: #56bc94;
	color: white;
}
footer .container {
	display: flex;
	justify-content: space-between;
}
footer a, footer span{
	color: white;
	font-size: 2rem;
	line-height: 2rem;
	vertical-align: center
}
footer span{
	font-size: 1.2rem;
	line-height: 2rem;
	vertical-align: center
}
footer a:hover {
	color: white;
}

@media all and (min-width: 700px) {
	header {
		background-image: url("../img/headerx2.jpg");
	}
	nav ul{
		justify-content: flex-end;
	}
	nav li {
		flex:0;
		padding: 1em 1em;
	}
	nav a {
		font-size: 1em;
	}
	header {
		min-height: 40vh;
	}
	.container {
		padding: 2em 4em;
	}
	#features {
		flex-direction: row;
	}
	#features div {
		width: 33%;
		padding: 2em;
		text-align: center;
		margin-bottom: 0;
	}
	#features h4 {
		padding:1em 0;
		color: #56bc94;
	}
	#gallery>div {
		width: 300px;
		padding: 1.6em;
	}
}